<p id="notice"><%= notice %></p>

<p>
  <strong>Barangay:</strong>
  <%= @barangay_lti_status.barangay_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @barangay_lti_status.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @barangay_lti_status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @barangay_lti_status.description %>
</p>

<p>
  <strong>Date confirmed:</strong>
  <%= @barangay_lti_status.date_confirmed %>
</p>

<p>
  <strong>Lad scope:</strong>
  <%= @barangay_lti_status.lad_scope %>
</p>

<p>
  <strong>Working scope:</strong>
  <%= @barangay_lti_status.working_scope %>
</p>

<p>
  <strong>Vos:</strong>
  <%= @barangay_lti_status.vos %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @barangay_lti_status.ca %>
</p>

<p>
  <strong>Vlt:</strong>
  <%= @barangay_lti_status.vlt %>
</p>

<p>
  <strong>Gol:</strong>
  <%= @barangay_lti_status.gol %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @barangay_lti_status.remarks %>
</p>

<p>
  <strong>Lad male arb:</strong>
  <%= @barangay_lti_status.lad_male_arb %>
</p>

<p>
  <strong>Lad female arb:</strong>
  <%= @barangay_lti_status.lad_female_arb %>
</p>

<p>
  <strong>Leasehold scope:</strong>
  <%= @barangay_lti_status.leasehold_scope %>
</p>

<p>
  <strong>Leasehold accomplishment:</strong>
  <%= @barangay_lti_status.leasehold_accomplishment %>
</p>

<p>
  <strong>Remarks2:</strong>
  <%= @barangay_lti_status.remarks2 %>
</p>

<p>
  <strong>Lh male arb:</strong>
  <%= @barangay_lti_status.lh_male_arb %>
</p>

<p>
  <strong>Lh female arb:</strong>
  <%= @barangay_lti_status.lh_female_arb %>
</p>

<%= link_to 'Edit', edit_barangay_lti_status_path(@barangay_lti_status) %> |
<%= link_to 'Back', barangay_lti_statuses_path %>
