<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @microfinance_service_provider_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @microfinance_service_provider_typology.description %>
</p>

<%= link_to 'Edit', edit_microfinance_service_provider_typology_path(@microfinance_service_provider_typology) %> |
<%= link_to 'Back', microfinance_service_provider_typologies_path %>
