<h1>List of Barangay Bridge Project Completions</h1>

<table>
  <thead>
    <tr>
      <th>Bridge Project Name</th>
      <th>Tag</th>
      <th>Name</th>
      <th>Description</th>
      <th>Project Length Provided</th>
      <th>Date confirmed</th>
      <th>User</th>
      <th>Datetime edited</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @barangay_bridge_project_completions.each do |barangay_bridge_project_completion| %>
      <tr>
        <td><%= barangay_bridge_project_completion.barangay_bridge_project.name_of_bridge_project %></td>
        <td><%= barangay_bridge_project_completion.tag %></td>
        <td><%= barangay_bridge_project_completion.name %></td>
        <td><%= barangay_bridge_project_completion.description %></td>
        <td><%= barangay_bridge_project_completion.project_length_provided %></td>
        <td><%= barangay_bridge_project_completion.date_confirmed %></td>
        <td><%= barangay_bridge_project_completion.user_id %></td>
        <td><%= barangay_bridge_project_completion.datetime_edited %></td>
        <td><%= link_to 'Show', barangay_bridge_project_completion %></td>
        <td><%= link_to 'Edit', edit_barangay_bridge_project_completion_path(barangay_bridge_project_completion) %></td>
        <td><%= link_to 'Destroy', barangay_bridge_project_completion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barangay bridge project completion', new_barangay_bridge_project_completion_path %>
