<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @barangay_fmr_project.tag %>
</p>

<p>
  <strong>Barangay:</strong>
  <%= @barangay_fmr_project.barangay_id %>
</p>

<p>
  <strong>Name of fmr project:</strong>
  <%= @barangay_fmr_project.name_of_fmr_project %>
</p>

<p>
  <strong>Location:</strong>
  <%= @barangay_fmr_project.location %>
</p>

<p>
  <strong>Type of project:</strong>
  <%= @barangay_fmr_project.fmr_project_typology.name %>
</p>

<p>
  <strong>Project length:</strong>
  <%= @barangay_fmr_project.project_length %>
</p>

<p>
  <strong>Project length provided:</strong>
  <%= @barangay_fmr_project.project_length_provided %>
</p>


<p>
  <strong>Date project started:</strong>
  <%= @barangay_fmr_project.date_project_started %>
</p>

<p>
  <strong>Date project ended:</strong>
  <%= @barangay_fmr_project.date_project_ended %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @barangay_fmr_project.date_completed %>
</p>

<p>
  <strong>Project status:</strong>
  <%= @barangay_fmr_project.project_status %>
</p>

<%= link_to 'Edit', edit_barangay_fmr_project_path(@barangay_fmr_project) %> |
<%= link_to 'Back', barangay_fmr_projects_path %>
