<%= form_for(@barangay) do |f| %>
  <% if @barangay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barangay.errors.count, "error") %> prohibited this barangay from being saved:</h2>

      <ul>
      <% @barangay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
  <label for="barangay_municipality_id">Municipality:</label>
  <%= f.collection_select :municipality_id, Municipality.all, :id, :name, :prompt => "Select a Municipality " %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
