<h1>Listing barangays</h1>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Name</th>
      <th>Description</th>
      <th>Municipality</th>
      <th>Province</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @barangays.each do |barangay| %>
      <tr>
        <td><%= barangay.tag %></td>
        <td><%= barangay.name %></td>
        <td><%= barangay.description %></td>
        <td><%= barangay.municipality.name %></td>
        <td><%= barangay.municipality.province.name %></td>
        <td><%= link_to 'Show', barangay %></td>
        <td><%= link_to 'Edit', edit_barangay_path(barangay) %></td>
        <td><%= link_to 'Destroy', barangay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barangay', new_barangay_path %>
