<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @farm_practice_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm_practice_typology.description %>
</p>

<%= link_to 'Edit', edit_farm_practice_typology_path(@farm_practice_typology) %> |
<%= link_to 'Back', farm_practice_typologies_path %>
