<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faps_coverage.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @faps_coverage.description %>
</p>

<%= link_to 'Edit', edit_faps_coverage_path(@faps_coverage) %> |
<%= link_to 'Back', faps_coverages_path %>
