<p id="notice"><%= notice %></p>

<p>
  <strong>Barangay:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.barangay_id %>
</p>

<p>
  <strong>Postharvest structure and facility typology:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.postharvest_structure_and_facility_typology_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.description %>
</p>

<p>
  <strong>Count of units provided:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.count_of_units_provided %>
</p>

<p>
  <strong>Status:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.status %>
</p>

<p>
  <strong>Date confirmed:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.date_confirmed %>
</p>

<p>
  <strong>User:</strong>
  <%= @barangay_postharvest_structure_and_facility_project.user_id %>
</p>

<%= link_to 'Edit', edit_barangay_postharvest_structure_and_facility_project_path(@barangay_postharvest_structure_and_facility_project) %> |
<%= link_to 'Back', barangay_postharvest_structure_and_facility_projects_path %>
