<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @postharvest_equipment_and_machinery_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @postharvest_equipment_and_machinery_typology.description %>
</p>

<%= link_to 'Edit', edit_postharvest_equipment_and_machinery_typology_path(@postharvest_equipment_and_machinery_typology) %> |
<%= link_to 'Back', postharvest_equipment_and_machinery_typologies_path %>
