<p id="notice"><%= notice %></p>

<p>
  <strong>Barangay organization:</strong>
  <%= @barangay_organization_membership.barangay_organization_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @barangay_organization_membership.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @barangay_organization_membership.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @barangay_organization_membership.description %>
</p>

<p>
  <strong>Date confirmed:</strong>
  <%= @barangay_organization_membership.date_confirmed %>
</p>

<p>
  <strong>Count male arb:</strong>
  <%= @barangay_organization_membership.count_male_arb %>
</p>

<p>
  <strong>Count male non arb:</strong>
  <%= @barangay_organization_membership.count_male_non_arb %>
</p>

<p>
  <strong>Count female arb:</strong>
  <%= @barangay_organization_membership.count_female_arb %>
</p>

<p>
  <strong>Count female non arb:</strong>
  <%= @barangay_organization_membership.count_female_non_arb %>
</p>

<p>
  <strong>Count bod official male arb:</strong>
  <%= @barangay_organization_membership.count_bod_official_male_arb %>
</p>

<p>
  <strong>Count bod official male non arb:</strong>
  <%= @barangay_organization_membership.count_bod_official_male_non_arb %>
</p>

<p>
  <strong>Count bod official female arb:</strong>
  <%= @barangay_organization_membership.count_bod_official_female_arb %>
</p>

<p>
  <strong>Count bod official female non arb:</strong>
  <%= @barangay_organization_membership.count_bod_official_female_non_arb %>
</p>

<p>
  <strong>Count municipal level rep male arb:</strong>
  <%= @barangay_organization_membership.count_municipal_level_rep_male_arb %>
</p>

<p>
  <strong>Count municipal level rep male non arb:</strong>
  <%= @barangay_organization_membership.count_municipal_level_rep_male_non_arb %>
</p>

<p>
  <strong>Count municipal level rep female arb:</strong>
  <%= @barangay_organization_membership.count_municipal_level_rep_female_arb %>
</p>

<p>
  <strong>Count municipal level rep female non arb:</strong>
  <%= @barangay_organization_membership.count_municipal_level_rep_female_non_arb %>
</p>

<p>
  <strong>Count provincial level rep male arb:</strong>
  <%= @barangay_organization_membership.count_provincial_level_rep_male_arb %>
</p>

<p>
  <strong>Count provincial level rep male non arb:</strong>
  <%= @barangay_organization_membership.count_provincial_level_rep_male_non_arb %>
</p>

<p>
  <strong>Count provincial level rep female arb:</strong>
  <%= @barangay_organization_membership.count_provincial_level_rep_female_arb %>
</p>

<p>
  <strong>Count provincial level rep female non arb:</strong>
  <%= @barangay_organization_membership.count_provincial_level_rep_female_non_arb %>
</p>

<p>
  <strong>Oma rating:</strong>
  <%= @barangay_organization_membership.oma_rating %>
</p>

<p>
  <strong>Organizational status:</strong>
  <%= @barangay_organization_membership.organizational_status %>
</p>

<p>
  <strong>With sustainability:</strong>
  <%= @barangay_organization_membership.with_sustainability %>
</p>

<p>
  <strong>Type of meetings:</strong>
  <%= @barangay_organization_membership.type_of_meetings %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @barangay_organization_membership.frequency %>
</p>

<p>
  <strong>Capital buildup:</strong>
  <%= @barangay_organization_membership.capital_buildup %>
</p>

<p>
  <strong>Capital count of members contributing:</strong>
  <%= @barangay_organization_membership.capital_count_of_members_contributing %>
</p>

<p>
  <strong>Savings:</strong>
  <%= @barangay_organization_membership.savings %>
</p>

<p>
  <strong>Savings count of members contributing:</strong>
  <%= @barangay_organization_membership.savings_count_of_members_contributing %>
</p>

<p>
  <strong>Assets:</strong>
  <%= @barangay_organization_membership.assets %>
</p>

<p>
  <strong>Liabilities:</strong>
  <%= @barangay_organization_membership.liabilities %>
</p>

<p>
  <strong>Service provided:</strong>
  <%= @barangay_organization_membership.service_provided %>
</p>

<%= link_to 'Edit', edit_barangay_organization_membership_path(@barangay_organization_membership) %> |
<%= link_to 'Back', barangay_organization_memberships_path %>
