<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @womens_organization_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @womens_organization_typology.description %>
</p>

<%= link_to 'Edit', edit_womens_organization_typology_path(@womens_organization_typology) %> |
<%= link_to 'Back', womens_organization_typologies_path %>
