<h1>Listing bridge_project_typologies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bridge_project_typologies.each do |bridge_project_typology| %>
      <tr>
        <td><%= bridge_project_typology.name %></td>
        <td><%= bridge_project_typology.description %></td>
        <td><%= link_to 'Show', bridge_project_typology %></td>
        <td><%= link_to 'Edit', edit_bridge_project_typology_path(bridge_project_typology) %></td>
        <td><%= link_to 'Destroy', bridge_project_typology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bridge project typology', new_bridge_project_typology_path %>
