<%= form_for(@irrigation_project_typology) do |f| %>
  <% if @irrigation_project_typology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@irrigation_project_typology.errors.count, "error") %> prohibited this irrigation_project_typology from being saved:</h2>

      <ul>
      <% @irrigation_project_typology.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
