<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @irrigation_project_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @irrigation_project_typology.description %>
</p>

<%= link_to 'Edit', edit_irrigation_project_typology_path(@irrigation_project_typology) %> |
<%= link_to 'Back', irrigation_project_typologies_path %>
