<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post_harvest_facility_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_harvest_facility_typology.description %>
</p>

<%= link_to 'Edit', edit_post_harvest_facility_typology_path(@post_harvest_facility_typology) %> |
<%= link_to 'Back', post_harvest_facility_typologies_path %>
