<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @marketing_outlet_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @marketing_outlet_typology.description %>
</p>

<%= link_to 'Edit', edit_marketing_outlet_typology_path(@marketing_outlet_typology) %> |
<%= link_to 'Back', marketing_outlet_typologies_path %>
