<h1><%= backlink_to "Barangay Query:", "/" %></h1>



<h3>Select one or more Barangays:</h3>


<%= form_tag do  %>
  <div class="select">
    <!-- <label for="reporter_barangay_select">Barangay: </label>
    <br> -->
   <%= select_tag("search", options_from_collection_for_select(@barangays, "id", "long_name"), multiple:true, class:"form-control" )
   %>
  </div>
  (hold the Ctrl key to select multiple barangays)
  <br>

 
  <br>
  <h3>Select Type of Information:</h3>


  <!-- <ul> -->
    <% @reports.each do |report| %>
        <!-- <li> -->
          <%= check_box_tag 'reports[]', report %>
          <%= h report %>
          <br>
        <!-- </li> -->
    <% end %>
  <!-- </ul> -->

  <br>
  <div>
    <%= submit_tag("Show") %>
  </div>

<% end %>
