<h1>Barangay Query:</h1>
<br>

<h2>Select one or more Barangays:</h2>

<%= form_tag do  %>
  <div class="select">
    <label for="reporter_barangay_select">Barangay: </label>

   <%= select_tag("search", options_from_collection_for_select(@barangays, "id", "name"), multiple:true)
   %>
  </div>
  (hold the Ctrl key to select multiple barangays)
  <br>

 
  <br>
  <h2>Select Type of Information:</h2>


  <ul>
    <% @reports.each do |report| %>
        <li>
          <%= check_box_tag 'reports[]', report -%>
          <%= h report -%>
        </li>
    <% end %>
  </ul>

<div class="actions">
    <%= submit_tag("Show") %>
  </div>

<% end %>