<h1>Barangay info:</h1>
<% if @reports_selection %>
    <h2><%= @reports_selection.join(", ") %></h2>
<% end %>
      

<% @barangays.each do |barangay| %>
    <table>

    <thead>
    <tr>
      <th>Barangay Name</th>
      <th>ARC</th>
      <th>Municipality</th>
      <th>District</th>
      <th>Province</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= barangay.name %></td>

        <% if barangay.arc %>
        <td><%= barangay.arc.name %></td>
        <% else %>
        <td><%= "non-ARC" %></td>
        <% end %>

        <td><%= barangay.municipality.name %></td>
        <td><%= barangay.district.name %></td>
        <td><%= barangay.province.name %></td>
      </tr>
    </tbody>
    </table>


    <div>
    <div style="margin-left:50px">

      <% if @reports_selection %>
      
        <% @reports_selection.each do |report| %>

          <div>
          <%= render partial:"reporter_"+@reports_program_hash[report] , :locals => {:barangay => barangay} %>
          </div>
          
        <% end %>

      <% end %>
      

    </div>
    </div>

    <br>


<% end %>

