<h1>Listing Barangay Postharvest Equipment and Machinery Projects</h1>

<table>
  <thead>
    <tr>
      <th>Barangay</th>
      <th>Tag</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type Postharvest Equipment and Machinery</th>
      <th>Number of Units Provided</th>
      <th>Status</th>
      <th>Date Confirmed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @barangay_postharvest_equipment_and_machinery_projects.each do |barangay_postharvest_equipment_and_machinery_project| %>
      <tr>
        <td><%= barangay_postharvest_equipment_and_machinery_project.barangay.name %></td>
        <td><%= barangay_postharvest_equipment_and_machinery_project.tag %></td>
        <td><%= barangay_postharvest_equipment_and_machinery_project.name %></td>
        <td><%= barangay_postharvest_equipment_and_machinery_project.description %></td>
        <td><%= barangay_postharvest_equipment_and_machinery_project.postharvest_equipment_and_machinery_typology_id %></td>
        <td><%= barangay_postharvest_equipment_and_machinery_project.count_of_units_provided %></td>
        
        <td><%= barangay_postharvest_equipment_and_machinery_project.status %>
        </td>
        <td><%= barangay_postharvest_equipment_and_machinery_project.date_confirmed %>
        </td>

        <td><%= link_to 'Show', barangay_postharvest_equipment_and_machinery_project %></td>
        <td><%= link_to 'Edit', edit_barangay_postharvest_equipment_and_machinery_project_path(barangay_postharvest_equipment_and_machinery_project) %></td>
        <td><%= link_to 'Destroy', barangay_postharvest_equipment_and_machinery_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barangay postharvest equipment and machinery project', new_barangay_postharvest_equipment_and_machinery_project_path %>
