<p id="notice"><%= notice %></p>

<p>
  <strong>Barangay:</strong>
  <%= @barangay_postharvest_equipment_and_machinery_project.barangay_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @barangay_postharvest_equipment_and_machinery_project.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @barangay_postharvest_equipment_and_machinery_project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @barangay_postharvest_equipment_and_machinery_project.description %>
</p>

<p>
  <strong>Postharvest equipment and machinery typology:</strong>
  <%= @barangay_postharvest_equipment_and_machinery_project.postharvest_equipment_and_machinery_typology_id %>
</p>

<p>
  <strong>Count of units provided:</strong>
  <%= @barangay_postharvest_equipment_and_machinery_project.count_of_units_provided %>
</p>

<p>
  <strong>Status:</strong>
  <%= @barangay_postharvest_equipment_and_machinery_project.status %>
</p>

<%= link_to 'Edit', edit_barangay_postharvest_equipment_and_machinery_project_path(@barangay_postharvest_equipment_and_machinery_project) %> |
<%= link_to 'Back', barangay_postharvest_equipment_and_machinery_projects_path %>
