<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education_service_provided_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @education_service_provided_typology.description %>
</p>

<%= link_to 'Edit', edit_education_service_provided_typology_path(@education_service_provided_typology) %> |
<%= link_to 'Back', education_service_provided_typologies_path %>
