<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fmr_project_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fmr_project_typology.description %>
</p>

<%= link_to 'Edit', edit_fmr_project_typology_path(@fmr_project_typology) %> |
<%= link_to 'Back', fmr_project_typologies_path %>
