<h1>Listing irrigation_facility_typologies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @irrigation_facility_typologies.each do |irrigation_facility_typology| %>
      <tr>
        <td><%= irrigation_facility_typology.name %></td>
        <td><%= irrigation_facility_typology.description %></td>
        <td><%= link_to 'Show', irrigation_facility_typology %></td>
        <td><%= link_to 'Edit', edit_irrigation_facility_typology_path(irrigation_facility_typology) %></td>
        <td><%= link_to 'Destroy', irrigation_facility_typology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Irrigation facility typology', new_irrigation_facility_typology_path %>
