<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @irrigation_facility_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @irrigation_facility_typology.description %>
</p>

<%= link_to 'Edit', edit_irrigation_facility_typology_path(@irrigation_facility_typology) %> |
<%= link_to 'Back', irrigation_facility_typologies_path %>
