<h1><%= backlink_to "Municipalities" %></h1>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Name</th>
      <th>Description</th>
 
      <th>District</th>
      <th>Province</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @municipalities.each do |municipality| %>
      <tr>
        <td><%= municipality.tag %></td>
        <td><%= municipality.name %></td>
        <td><%= municipality.description %></td>
  
        <td><%= municipality.district.name %></td>
        <td><%= municipality.district.province.name %></td>

        <td><%= link_to 'Show', municipality %></td>
        <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
        <td><%= link_to 'Destroy', municipality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= buttonlink_to 'New Municipality', new_municipality_path %>
