<%= form_for(@womens_desk_service_typology) do |f| %>
  <% if @womens_desk_service_typology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@womens_desk_service_typology.errors.count, "error") %> prohibited this womens_desk_service_typology from being saved:</h2>

      <ul>
      <% @womens_desk_service_typology.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
