<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agri_based_enterprise_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @agri_based_enterprise_typology.description %>
</p>

<%= link_to 'Edit', edit_agri_based_enterprise_typology_path(@agri_based_enterprise_typology) %> |
<%= link_to 'Back', agri_based_enterprise_typologies_path %>
