<h1>Listing barangay_geographicals</h1>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Barangay</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date info gathered</th>
      <th>Land area</th>
      <th>Agricultural area</th>
      <th>Terrain</th>
      <th>Ecosystem</th>
      <th>Distance from town proper</th>
      <th>Means of transportation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @barangay_geographicals.each do |barangay_geographical| %>
      <tr>
        <td><%= barangay_geographical.tag %></td>
        <td><%= barangay_geographical.barangay.name %></td>
        <td><%= barangay_geographical.name %></td>
        <td><%= barangay_geographical.description %></td>
        <td><%= barangay_geographical.date_info_gathered %></td>
        <td><%= barangay_geographical.land_area %></td>
        <td><%= barangay_geographical.agricultural_area %></td>
        <td><%= barangay_geographical.terrain %></td>
        <td><%= barangay_geographical.ecosystem %></td>
        <td><%= barangay_geographical.distance_from_town_proper %></td>
        <td><%= barangay_geographical.means_of_transportation %></td>
        <td><%= link_to 'Show', barangay_geographical %></td>
        <td><%= link_to 'Edit', edit_barangay_geographical_path(barangay_geographical) %></td>
        <td><%= link_to 'Destroy', barangay_geographical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barangay geographical', new_barangay_geographical_path %>
