<h1>
  <%=backlink_to "Regions","/data_entry"
  %>
</h1>

<table>
  <thead>
    <tr>
      <th>Region Tag</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.region_tag %></td>
        <td><%= region.name %></td>
        <td><%= region.description %></td>
        <td><%= link_to 'Show', region %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= buttonlink_to 'New Region', new_region_path %>
