<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @other_service_typology.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @other_service_typology.description %>
</p>

<%= link_to 'Edit', edit_other_service_typology_path(@other_service_typology) %> |
<%= link_to 'Back', other_service_typologies_path %>
